@page "/"


<div>
   
    <CardHeader>
        <CardBody>

            <h1 style="text-align:center; font-size:60px">DREAM-TEAM SHIRT STORE</h1>
        </CardBody>

    </CardHeader>

</div>

<div>
    <img src="/images/Dreamteam.jpeg" alt="DreamTeamStore" style="width:100%">
</div>

