@inherits LayoutComponentBase
<head>
    <title>BuyMyFace.se</title>
</head>
<div class="page">
    <ToastContainer />
    <div class="nav">
        <NavMenu />

        
    </div>
    <div class="main">
        <div class="body" style="min-height:1000px;">
            @Body
            
        </div>
    </div>
</div>
    <div class="footer" >
        <Footer></Footer>
    </div>

